//customers-service
DB_URL=your_url_here
DB_USERNAME=your_usr_here
DB_PASSWORD=your_pss_here

//docker-compose customers-service
POSTGRES_USER=your_usr_here
POSTGRES_PASSWORD=your_pss_here
POSTGRES_DB=your_db_here