spring:
  application:
    name: users-service

  datasource:
    url: jdbc:mysql://localhost:3306/users_db?createDatabaseIfNotExist=true
    username: root
    password: Cascata@486
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka