spring:
  application:
    name: product-service

  datasource:
    url: your_jdbc_url_here
    username: your_db_username_here
    password: your_db_password_here
    driver-class-name: com.mysql.cj.jdbc.Driver

server:
  port: 0

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
